<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App node de ejemplo</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Si puedes ver esto...</h1>
        <p>significa que el servidor.JS funciona! By Valá Carrillo y Richi Ortiz<a href="http://luisricardoortizanchondo.github.io">GitHub</a></p>
        <a href="http://luisricardoortizanchondo.github.io" class="btn btn-primary btn-lg">Ver página de GitHub</a>
    </div>
</div>
</body>
</html>